/* styles.css */
html {
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    background-image: url(../f464e7e5047d594d0c27a49a90bb61c7.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.7); /* Transparansi untuk latar belakang */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: hsl(249, 11%, 76%);
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .input-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .login-btn:active {
    background-color: #004085;
  }
